@{
    var position = ViewData["Position"] as string;
}
<div class="reaction-container position">
    <p class="reaction-button love-reaction">♥️</p>
    <p class="reaction-button like-reaction">👍</p>
    <p class="reaction-button laugh-reaction">😂</p>
    <p class="reaction-button smile-reaction">😊</p>
    <p class="reaction-button angry-reaction">😡</p>
</div>