
.container1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px;
    /*    max-width: 1200px;*/
    height: 90dvh;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0;
}

.friends-list {
    width: 20%;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.search-box {
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #e5e5ea;
    font-size: 14px;
    margin-bottom: 10px;
    width: 90%;
    align-self: center;
}

.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
}
.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
}
.image-div{
    position:relative;
}
.friend:hover {
    background: #ddd;
}

    .friend img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

.friend-info {
    flex-grow: 1;
}

.friend-name {
    font-weight: bold;
}

.last-message {
    font-size: 12px;
    color: gray;
}

.read-status {
    font-size: 10px;
    color: darkgray;
}
.online-circle {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 63%;
    background-color: rgb(51, 232, 23);
    border-radius: 100%;
    width: 14px;
    height: 14px;
}

.chat-container {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

    .header img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
    }

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
    margin-left:auto;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    transition-duration: .3s;
}



#checkbox:checked + .toggle #bar2 {
    transform: translateY(14px) rotate(60deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
}

#checkbox:checked + .toggle #bar1 {
    transform: translateY(28px) rotate(-60deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
}

#checkbox:checked + .toggle {
    transform: rotate(-90deg);
}

.messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.message-removed {
    color: #999;
    text-decoration: line-through;
}
.new-message {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: auto;
}
.no-click {
    pointer-events: none;
}

.message-row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-bottom: 1.5rem;
    position: relative;
}
.to {
    justify-content: flex-start;
}

.from {
    justify-content: flex-end;
}

.message {

    padding: 12px 18px;
    border-radius: 20px;
    font-size: 16px;
/*    max-width: 60%;*/
    min-width: 30px;
    position: relative;
    margin: 8px;
    width: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    order: 2;
}
.message-image {
    max-width: 350px;
    max-height: 300px;
    border-radius:5px;
    order: 2;
    cursor:pointer;
}

.read-status-message {
    font-size: 12px;
    color: darkgray;
    position: absolute;
    right: 15px;
    bottom: -10px;
}

.message:hover .message-actions {
    display: flex;
}

.message-options {
    display: none;
    order: 1;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.message-reaction {
    position: absolute;
    top: -13px;
    background-color: #fbfbfb;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .message-reaction.left {
        left: 86%;
    }

    .message-reaction.right {
        right: 86%;
    }

    .message-reaction p {
        margin: 0;
    }

.sent {
    background-color: #007aff;
    color: white;
}

.received {
    background-color: #e5e5ea;
    color: black;
    align-self: flex-start;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

.reaction-container {
    position: absolute;
    top: 54px;
/*    left: 5px;*/
    width: fit-content;
    height: 50px;
    background-color: rgb(239, 239, 239);
    border-radius: 14px;
    display: none;
    align-items: center;
    gap: 5px;
    z-index: 2;
    box-shadow: 4px 2px 2px #888;
    padding: 0 10px;
}
    .reaction-container.left {
        left: 5px;
    }
    .reaction-container.right {
    }
    .reaction-container p {
        margin:0;
        cursor:pointer;
    }

    .action-btn {
        cursor: pointer;
        font-size: 14px;
        background: none;
        border: none;
        color: gray;
    }

.input-container {
    display: flex;
    padding: 15px;
    background: white;
    border-top: 1px solid #ccc;
    align-items:center;
    gap:10px
}

.message-input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #f1f1f1;
    font-size: 16px;
}
.message.typing {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
    transform: translateY(0);
}
.message.typing.hidden {
    opacity: 0;
    transform: translateY(5px);
    pointer-events: none;
}

.typing .dot {
    width: 8px;
    height: 8px;
    background-color: #888;
    border-radius: 50%;
    animation: bounce 1.4s infinite;
}

    .typing .dot:nth-child(2) {
        animation-delay: 0.2s;
    }

    .typing .dot:nth-child(3) {
        animation-delay: 0.4s;
    }

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(1);
        opacity: 0.6;
    }

    40% {
        transform: scale(1.4);
        opacity: 1;
    }
}

button {
    margin-left: 12px;
    padding: 12px 18px;
    border: none;
    background-color: #007aff;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: fit-content;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #f1f1f1;
    padding: 12px 18px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    transition: background 0.3s ease;
    height: fit-content;
}

    .custom-file-upload:hover {
        background-color: #e0e0e0;
    }

.message-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

.image-preview-container {
    display: none;
    position: relative;
    margin-top: 5px;
    width: 60px;
    height: 60px;
}

.image-preview {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.remove-image {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding:0;
    margin: 0;
}
.info-container {
    width: 25%;
    background-color: #f7f7f7;
    padding: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #ddd;
}
.username {
    font-size: 18px;
    margin: 10px 0;
}

.media-btn {
    background-color: none;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

    .media-btn:hover {
        background-color: #0056b3;
    }
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px; 
    width: 95%;
    height: 37dvh;
    padding:10px;
    background-color:white;
    border:1px solid black;
    border-radius: 2px;
    margin-bottom:10px;
    overflow-y: scroll;

}
.info-image {
    width: 100%; 
    height: auto; 
    border-radius: 0px; 
    object-fit: cover;
    cursor:pointer;
}
.info-title {
    text-align: start;
    width: 90%;
}


@media (max-width: 768px) {
    .container1{
        width:100%;
        position:relative;
    }
    .chat-container{
        width:100%;
    }
    .friends-list{
        width:fit-content;
    }
    .search-box{
        display:none;
    }
    .friends-list h2 {
        display:none;
    }
    .friend-info{
        display:none;
    }
    .friend{
        width:fit-content;
    }
    .info-container{
        position:absolute;
        left:0;
        width:90%;
        height:96dvh;
    }
}
